@import "tailwindcss";

:root {
  color-scheme: light;
  font-family: Inter, system-ui, sans-serif;
  --primary: #CDD6A1;
  --secondary: #829055;
  --milk: #FBF2E3;
  --text-color: #829055;
}

:root.dark {
  color-scheme: dark;
  --primary: #623528;
  --secondary: #d9a883;
  --milk: #FBF2E3;
  --text-color: #d9a883;
}

html,
body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  width: 100%;
}

body {
  background-color: var(--primary);
  color: var(--text-color);
  transition: background-color 0.2s ease, color 0.2s ease;
}

#root {
  min-height: 100vh;
}
