@import 'tailwindcss';

@font-face {
  font-family: 'Matcha Cih';
  src: url('./assets/fonts/Matcha%20Cih.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Cafe Brewery';
  src: url('./assets/fonts/cafe_brewery.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Cafe Brewery';
  src: url('./assets/fonts/cafe_brewery_bold_italic.otf') format('opentype');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Gomarice Coffee';
  src: url('./assets/fonts/gomarice_coffee_and_curry_shop.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --text: #829054;
  --text-h: #FBF2E3;
  --bg: #CDD6A1;
  --border: #829055;
  --secondary-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: 'Cafe Brewery', 'Segoe UI', Roboto, sans-serif;
  --heading: 'Matcha Cih', system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading-alt: 'Gomarice Coffee', system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  width: 100%;
}

:root.dark {
  --text: #d7dfb2;
  --text-h: #fbf2e3;
  --bg: #263126;
  --border: #829055;
  --secondary-bg: #354331;
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
}

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  background: var(--bg);
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

button {
  padding: 10px 20px;
  font-family: var(--sans);
  font-size: 25px;
  font-style: italic;
  cursor: pointer;
  border: 3px solid var(--border);
  background-color: var(--secondary-bg);
  color: var(--text);
  border-radius: 50px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: var(--bg);
  color: var(--text);
}